:root {
    --brand-blue: rgb(0, 35, 101);
  }

html, body {
    margin: 0 auto;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    background-color: var(--brand-blue);
    color: white;
    padding: 20px;
    padding-bottom: 10px;
}

#navTitleWrapper {
    display: flex;
    flex-direction: row;
}

#navTitle {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    bottom: 2px;
}

#navTitle:hover {
    cursor: pointer;
}

#navLinksWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navLink {
    font-size: 25px;
    border-bottom: solid 2px var(--brand-blue);
    padding-bottom: 5px;
    transition: 0.3s;
    text-decoration: none;
    color: white;
}

.navLink:hover {
    border-bottom: solid 2px white;
    cursor: pointer;
    transition: 0.3s;
}

#homeBackground {
    background-image: url('public/pool1.avif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

#homeTextOverlay {
    text-align: center;
    position: relative;
    top: 250px;
    background-color: rgba(0, 32, 90, 0.538);
    width: fit-content;
    margin: 0 auto;
    padding: 25px;
}

#homeTitle {
    color: white;
    font-size: 45px;
    margin-top: -10px;
    margin-bottom: 0;
}

#homeSubtitle {
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

#homeOverlaybutton {
    background-color: var(--brand-blue);
    color: white;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border: solid 2px var(--brand-blue);
    transition: 0.5s;
}

#homeOverlaybutton:hover {
    transition: 0.5s;
    cursor: pointer;
    opacity: 0.8;
    border: solid 2px rgb(209, 211, 255);
}

.section {
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 240, 240);
}

.subSection {
    width: 50vw;
}

.sectionTitle {
    font-size: 30px;
    text-align: center;
}

.para {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 10px;
}

.sectionPhoto {
    width: 50vw;
}

#priceSection {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-inline: 5%;
    padding-bottom: 40px;
}

#priceBlocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 40px;
    margin-top: 20px;
}

.priceBlock {
    text-align: left;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    width: 280px;
    height: 260px;
}

.priceHeader {
    font-size: 20px;
    font-weight: bold;
}

.priceList {
    padding: 0;
}

.priceList li {
    font-size: 18px;
    padding: 5px;
    list-style-type: none;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.formItem {
    padding: 5px;
    font-size: 18px;
}

#formSelect:hover {
    cursor: pointer;
}

.formOption:hover {
    cursor: pointer;
}

#formTextArea {
    min-height: 200px;
    resize: vertical;
}

#contactSection {
    padding-bottom: 60px;
}

#contactInfoWrapper {
    width: 500px;
    margin: 0 auto;
}

#contactInfoWrapper span { 
    font-size: 18px;
}

#contactFormHeader {
    position: relative;
    left: -80px;
}

#logo {
    width: 25px;
    height: 25px;
    position: relative;
    top: 0px;
    margin-right: 10px;
}

#contactFormButton {
    background-color: var(--brand-blue);
    color: white;
    outline: none;
    padding: 10px;
    font-size: 16px;
    transition: 0.5s;
    width: 200px;
    border: solid 2px var(--brand-blue);
}

#contactFormButton:hover {
    transition: 0.5s;
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 750px) {
    .section {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .subSection {
        width: 100vw;
    }

    .sectionPhoto {
        width: 100vw;
    }

    #priceBlocks {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #contactFormHeader {
        position: relative;
        left: 0px;
    }

    #contactForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 95%;
        margin: 0 auto;
    }

    #contactInfoWrapper {
        width: 100vw;
        margin: 0 auto;
    }

    #navTitle {
        display: none;
    }
}